{{!todo lo que es html normal}}
<html>
    <head>
        Titulo
    </head>
    <body>
        {{{body}}}

        <form action="/productos" method="post">
            <input type="text" name="nombre"/>
            <button type="submit"> Enviar datos</button>
        </form>
    </body>
</html>